* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
  @media (max-width: 300px) {
    font-size: 9px;
  }
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ccc;
}
