.yourInfo__data {
  div {
    position: relative;
    margin-top: 5%;
  }
  input {
    width: 100%;
    margin-top: 5px;
    padding: 5px 3%;
    font-size: 2em;
    line-height: 2em;
    color: #022a61;
    border: 1px solid #777;
    border-radius: 10px;
    cursor: pointer;
  }
}
.yourInfo__text {
  color: #022a61;
  width: 100%;
  font-size: 1.6em;
}
.yourInfo__clean {
  display: none;
  margin: 2% 5% 0 auto;
  width: fit-content;
  font-size: 1.4em;
  color: #022a61;
  cursor: pointer;
  i {
    font-size: 1em;
  }
  @media (max-width: 300px) and (orientation: portrait) {
    margin: 5% 5% 0 auto;
  }
}
.yourInfo__clean:hover {
  color: red;
}
.yourInfo__requier {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6rem;
  color: red;
  @media (max-width: 300px) and (orientation: portrait) {
    position: static;
  }
}
