.yourInfo__data {
  div {
    position: relative;
    margin-top: 5%;
  }
  input {
    width: 100%;
    margin-top: 5px;
    padding: 5px 3%;
    font-size: 2em;
    line-height: 2em;
    color: #022a61;
    border: 1px solid #777;
    border-radius: 10px;
    cursor: pointer;
  }
}
.yourInfo__text {
  color: #022a61;

  width: 100%;
  font-size: 1.6em;
}
.yourInfo__requier {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6rem;
  color: red;
}
